################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PracticeApp/bin/Debug
/PracticeApp/obj
